{% extends 'base.html' %}
{% block title %} Proveedor-Formulario {% endblock title %}
{% block content %}

<div class="bloque">
    <h1>Proveedor</h1>
    <div class="opciones">
        <button id="nuevo" type="submit" class="btn btn-success">Nuevo</button>
        <button id="listar" type="submit" class="btn btn-primary"><a href="/proveedor">Lista</a></button>
    </div>
    <form class="formulario">
        <div>
            <input type="number" class="form-control" id="id_proveedor" placeholder="ID proveedor">
        </div>
        <div>
            <input type="text" class="form-control" id="nombre_proveedor" placeholder="Nombre de proveedor">
        </div>
        <div id="colspan-2">
            <input type="email" class="form-control" id="correo_proveedor" placeholder="Correo de proveedor">
        </div>
        {% include 'direccion.html' %}
        {% include 'telefono.html' %}
        <div id="opciones2">
            <button id="guardar" type="submit" class="btn btn-success">Guardar</button>
            <button id="eliminar" type="submit" class="btn btn-danger">Eliminar</button>
        </div>
    </form>
</div>
{% endblock content %}