{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Categoria-Formulario {% endblock title %}


{% block content %}
<h1 class="row align-items-center justify-content-start">Categoria</h1>
{% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>¡Error!</strong>
    </div>
{% endif %}
<form method="POST">
    <div class="form-group">
    {% csrf_token %}
    {% if messages %}
        {% for msn in messages%}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
        </svg>
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                <use xlink:href="#check-circle-fill"/>
            </svg>
            <div>
                {{msn}}
            </div>
        </div>
        {% endfor %}
    {% endif %}
    </div>
    <div class="form-group mb-3">
        <input type="number" class="form-control" name="id_categoria" placeholder="{{ auto_increment }}" value="{{ auto_increment }}" hidden>
    </div>

    <div class="form-group mb-3">
        <input type="text" class="form-control" name="nombre" placeholder="Nombre">
    </div>

    <div class="form-group mb-3">
        <textarea class="form-control" name="descripcion" rows="3" placeholder="Descripción"></textarea>
    </div>

    <div class="form-group mb-3">
        <select class="form-control" name="categoria_sub">
            <option value="{{ null }}">-----</option>
            {% for categoria in categorias %}
            <option value="{{categoria.id_categoria}}">
                {{categoria.nombre}}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="row justify-content-center col-13">
        <div class="row justify-content-between mt-3">
            <button id="guardar" type="submit" class="btn btn-success col-md-3 text-light mb-2">Guardar</button>
            <button id="eliminar" type="button" class="btn btn-danger col-md-3 text-light mb-2">Eliminar</button>
            <a id="listar" class="btn btn-primary col-md-3 text-light mb-2" href="{% url 'categoria:listCategoria' %}">Lista</a>
        </div>
    </div>
</form>
{% endblock content %}