/*Variables Globales*/
:root {
  --dark-mode-body: #1c1c1c;
  --dark-mode-header: #282828;
  --dark-mode-menu: #302f2d;
  --dark-mode-menu-hover: #4e4e4d;
  --dark-mode-text: white;
  --dark-mode-text-hover: #3dc5ae;
}

/*Utilidades*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  resize: none;
}

.in-txt {
  width: 15rem;
  height: 1.5rem;
}

.in-txtarea {
  width: 20rem;
  height: 4rem;
}

.in-num {
  width: 5rem;
  height: 1.5rem;
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-justify {
  text-align: justify;
}
/*-------Caracteristicas del body------*/
body {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--dark-mode-body);
  transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*----Header-----*/
.header-container {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-mode-header);
  color: var(--dark-mode-text);
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 200;
  transition: 300ms;
}

.respo-header {
  width: 90%;
}

/*Boton para menú lateral*/
.menu-panel {
  display: flex;
  align-items: center;
}

.btn-panel {
  width: 50px;
  height: 3rem;
  padding: 0;
  transition: 300ms;
  background: none;
  border: 0;
  cursor: pointer;
  margin: auto;
}

.btn-panel:hover {
  background-color: var(--dark-mode-menu-hover);
}

.btn-panel span {
  border-radius: 5px;
  background: white;
  display: block;
  width: 60%;
  margin: 5px auto;
  height: 2px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/*Animaciones para botón de menú*/
.open .top-line {
  animation-name: top-line-animation;
}

.open .middle-line {
  animation-name: middle-line-animation;
}

.open .bottom-line {
  animation-name: bottom-line-animation;
}

.top-line {
  animation-name: top-line-animation-close;
}

.middle-line {
  animation-name: middle-line-animation-close;
}

.bottom-line {
  animation-name: bottom-line-animation-close;
}

@keyframes top-line-animation {
  50%,
  100% {
    margin: 0 auto;
    transform: translateY(2px) rotate(-45deg);
  }
}

@keyframes bottom-line-animation {
  50%,
  100% {
    margin: 0 auto;
    transform: translateY(-2px) rotate(45deg);
  }
}

@keyframes middle-line-animation {
  20%,
  100% {
    margin: 0 auto;
    width: 0;
    opacity: 0;
  }
}

@keyframes top-line-animation-close {
  0% {
    margin: 0 auto;
    transform: translateY(2px) rotate(-45deg);
  }
  50%,
  100% {
    margin: 5px auto;
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes middle-line-animation-close {
  0% {
    margin: 0 auto;
    width: 0;
    opacity: 0;
  }
  20%,
  100% {
    margin: 0 auto;
    width: 60%;
    opacity: 1;
  }
}

@keyframes bottom-line-animation-close {
  0% {
    margin: 0 auto;
    transform: translateY(-2px) rotate(45deg);
  }
  50%,
  100% {
    margin: 5px auto;
    transform: translateY(0px) rotate(0deg);
  }
}

/*------Logo------*/
.logo {
  padding: 0.7rem;
}

.logo p {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Motor de busqueda ---opcinal*/
.search-engine {
  margin: auto;
}

.search-engine input {
  width: 17rem;
  height: 1.5rem;
  border-radius: 8px;
}

/*Menú de navegación principal*/
.main-menu {
  margin: 5px;
  display: flex;
  justify-content: center;
}

.btn-link-menu {
  padding: 5px;
  background-color: var(--dark-mode-header);
  color: var(--dark-mode-text);
  transition: 300ms;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4rem;
}

.btn-link-menu:hover {
  background-color: var(--dark-mode-menu-hover);
  color: var(--dark-mode-text-hover);
}

/*--------Contenedor de página------*/
.main-container {
  width: 100%;
  height: 100%;
  color: var(--dark-mode-text);
}

/*Menú lateral izquierdo*/
.left-side-menu {
  width: 0%;
  height: 100%;
  background-color: var(--dark-mode-menu);
  display: flex;
  flex-flow: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  overflow-y: scroll;
  transition: width 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  color: white;
}

.left-side-menu a {
  text-decoration: none;
}

/*Ocultar scroll para Chrome, Safari y Opera*/
.left-side-menu::-webkit-scrollbar {
  display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.left-side-menu {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*Utilidades de botones en menú*/
.btn-module {
  color: var(--dark-mode-text);
  background-color: var(--dark-mode-menu);
  padding: 0.7rem;
  position: relative;
  transition: 300ms;
}

.btn-module.selected {
  color: var(--dark-mode-text-hover);
}

.selected:before {
  content: '';
  width: 3px;
  height: 80%;
  background: white;
  position: absolute;
  top: 10%;
  left: 0px;
}

.btn-module:hover {
  background-color: var(--dark-mode-menu-hover);
  color: var(--dark-mode-text-hover);
}

/*Opciones de despliegue*/
.show-menu-body {
  margin-left: 10%;
}

.show-menu {
  width: 10%;
}

/*------CONTENIDO DE PAGINA------- -se hará hasta tener contenido-*/
/*
.content-page{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    width: 100%;
    transition: 300ms;
}

.respo-content{
    width: 90%;
}

/*-------------FORMULARIO----------------

.form-container{
    display: flex;
    flex-flow: column;
    width: 30rem;
    height: 24rem;
    margin-top: 3rem;
    background-color: var(--dark-mode-header);
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.form-container h1{
    margin-top: 2rem;
}

.content-form{
    display: flex;
    flex-flow: column;
    width: 30rem;
    
}

.content-form label,button,textarea,input{
    margin-left: 3rem;
}

.content-form label,button{
    margin-top: 1rem;
}

.content-form input,textarea{
    border: none;
    background: none;
    border-bottom: solid 1px #d63031;
    outline: 0;
    color: var(--dark-mode-text);
}

.btn-save{
    width: 10rem;
    height: 1.5rem;
    border: none;
    background-color: #4682b4;
    color: black;
    text-transform: uppercase;
}

.btn-save:hover{
    background-color: #8dbbdf;
    color: var(--dark-mode-text);
}
*/
