{% extends 'base.html' %}
{% block title %}{% endblock title %}

{% block content %}

<div class="bloque">
    <h1>Venta</h1>
    <div class="opciones">
        <button id="nuevo" type="submit" class="btn btn-success">Nuevo</button>
        <button id="listar" type="submit" class="btn btn-primary"><a href="/venta">Lista</a></button>
    </div>
    <form class="formulario">
        <div id="">
            <input type="number" class="form-control" id="numero_venta" placeholder="Número de venta">
        </div>
        <div>
            <input type="date" class="form-control" id="fecha_venta" data-bs-toggle="tooltip" data-bs-placement="bottom"
                title="Fecha de venta">
        </div>
        <div id="">
            <input type="text" class="form-control" id="nit_venta" placeholder="NIT">
        </div>
        <div id="">
            <input type="text" class="form-control" id="nombre_venta" placeholder="Nombre de cliente">
        </div>
        <div>
            <select id="empleado_venta" class="form-select">
                <option selected>Empleado</option>
                <option>-----</option>
                <option>0 - Amner Pérez</option>
                <option>1 - Geovanny Franco</option>
            </select>
        </div>
        <div>
            <select id="sucursal_venta" class="form-select">
                <option selected>Sucursal</option>
                <option>-----</option>
                <option>CH</option>
                <option>CH2</option>
            </select>
        </div>
        <div id="colspan-2">
            <input type="text" class="form-control" id="agregar_producto" placeholder="Agregar producto">
            <button class="btn btn-outline-info" type="button">AGREGAR</button>
        </div>
        <div id="colspan-2">
            <table class="table text-light text-center m-2">
                <tr>
                    <th>Código</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
                <tr>
                    <td>ASP-TAB-500MG</td>
                    <td>Aspirina en tableta 500mg</td>
                    <td>2</td>
                    <td>Q10.00</td>
                    <td>Q20.00</td>
                    <td>
                        <button type="button" class="btn btn-ms btn-danger">X</button>
                    </td>
                </tr>
                <tr>
                    <th colspan="3"></th>
                    <th colspan="1">Total</th>
                    <td colspan="1">Q20.00</td>
                    <td colspan="1"></td>
                </tr>
            </table>
        </div>
        <div id="opciones2">
            <button id="guardar" type="submit" class="btn btn-success">Guardar</button>
        </div>
    </form>
</div>
{% endblock content %}